.banner-brain {
  display: none; /* Hidden by default */
  background-color: #F4F4F4;
  padding: 0px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  img {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
}

.banner-content {
  display: flex;
  align-items: center;

  .text {
    font-size: 16px;
    color: #ffffff;
  }

  .image {
    margin-right: 20px;
  }
}

.btn-card {
  background-color: transparent;
}

.element-in-banner{
  padding-left: 250px;
}

.btn-success{
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-success:hover{
  color: #72e9c5;
}

.nav-link{
  color: #1C4859;
}

.nav-link:hover{
  color: #E8728A;
}
