// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  border-bottom: #72e9c5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-style: solid;
  padding-top: 50px;
  text-align: start;

  .titre {
    width: 50%;

  }
  h2 {
     margin: 0;
     color: rgb(242, 71, 197);
     text-shadow: 3px -2px 9px rgba(0, 0, 0, 1);
     font-size: 31px;
     font-weight: bold;

   }

   p {
      font-size: 20px;
      color: rgb(242, 71, 197);
      opacity: .7;
      text-shadow: 3px -2px 9px rgba(0, 0, 0, 1);
      font-weight: bold;

    }
    .rent-a-brain, .add-a-brain {
      margin: 60px 0;
    }


    .left-btn, .right-btn {
      transition: 0.8s ease;
      width: 230px!important;
    }


  }

  #slogan {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
  }


.cards {
  min-height: 400px;

  .card-category {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body{
background-color: #e7e064;
min-height: 100vh;

}
