.body{
  color : #1C4859;
  background-color: #e7e064;
  min-height: 100vh;
  }

.banner {
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  border-bottom: #72E9C5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-style: solid;
  padding-top: 20px;
  text-align: start;
  .titre {
    width: 90%;
  }
  h2 {

     margin: 0;
     color: #FFFFFF;
     text-shadow: 3px -2px 9px #E8728A;
     font-size: 31px;
     font-weight: bold;
   }
   p {
      font-size: 20px;
      color: #FFFFFF;
      opacity: .7;
      text-shadow: 3px -2px 9px #E8728A;
      font-weight: bold;
    }
    .rent-a-brain, .add-a-brain {
      margin: 60px 0;
    }
    .left-btn, .right-btn {
      transition: 0.8s ease;
      width: 230px!important;
    }
  }
  #slogan {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    color : #1C4859;
  }
.cards {
  min-height: 400px;
  .card-category {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
