<div class="banner" style=" background-image: url(<%= asset_path 'banner.png'%>)">
  <div class="container">
    <div class="titre">
      <h2>Besoin d’un cerveau pour un jour, une nuit, ou juste pour briller au dîner ?</h2>
      <p> Pour les grandes idées… ou les mauvais coups !</p>
    </div>
    <div class="rent-a-brain">
    <%= link_to 'Loue un cerveau', brains_path, class: 'btn btn-success btn-lg left-btn' %>
    </div>
    <div class="add-a-brain">
    <%= link_to 'Propose un cerveau', new_brain_path, class: 'btn btn-success btn-lg right-btn' %>
    </div>
</div>
