<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram" style='color: #000000'></i></a>
    <a href="#"><i class="fab fa-facebook" style='color: #000000'></i></a>
    <a href="#"><i class="fab fa-twitter" style='color: #000000'></i></a>
  </div>
  <p><em>Attention : aucun vrai cerveau n’a été maltraité dans ce processus.</em></p>
  <div class="footer-copyright">
    The Brain Factory<i class="fa-solid fa-copyright"></i>
  </div>
</div>
