<h2 id='slogan'>T'inquiète bichette, on a un cerveau pour toi!</h2>
<p><em>Derniers cerveaux pondus</em></p>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'cerveau1.png'%>)">
    <p>Japonais</p>
    <p>Demander à Naruto</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'cerveau2.png'%>)">
    <p>Javascript</p>
    <p>Demander à Gwendal</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'cerveau3.png'%>)">
    <p>Physique</p>
    <p>Demander à Einstein</p>
  </div>
</div>
