<div>
  <%= render 'banner' %>
</div>

<h2 id='slogan' class='pt-4'><em><strong>" T'inquiète bichette, on a un cerveau pour toi! "</strong></em></h2>

<p style="margin: 20px;"><em> Voici les derniers cerveaux pondus, ça t'intéresse ? </em></p>

<div class="cards">
  <% @brains.each do |brain|%>
    <%= render 'middle', brain: brain %>
  <% end %>
</div>
