.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: none;
  border: none;


  .mapboxgl-ctrl-geocoder--input:focus {
    box-shadow:  0 0 0.25rem rgb(231, 228, 156)!important;
    border: 1px solid rgb(246, 243, 160);
    outline: none;

  }
}
