.navbar-lewagon {
  justify-content: space-between;
  background: #E7E064;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #4EE2BD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent a{
  padding-top: 15px;
}

.container-fluid h1{
  font-size: 44;
  font-weight: bold;
  color: #1C4859;

}
