.navbar-lewagon {
  justify-content: space-between;
  background: #E7E064;
  border-bottom: 0.5px solid #215a4b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-top: auto;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a{
  padding-top: 15px;
}
